{% extends "account/base_entrance.html" %}
{% load static i18n %}
{% block head_title %}Cadastro{% endblock head_title %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="register-container">
        <div class="paper">
            <div class="register-box">
                <img src="{% static 'imagens/LogoMR_BARUCH.svg' %}" alt="Logo" class="logo">
                <h2>Cadastro</h2>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="input-container">
                        <i class="fas fa-user icon"></i>
                        {{ form.username }}
                    </div>
                    
                    <div class="input-container">
                        <i class="fas fa-lock icon"></i>
                        {{ form.password1 }}
                    </div>
                    <div class="input-container">
                        <i class="fas fa-lock icon"></i>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="register-button">Cadastrar</button>
                </form>
                <div class="login-links">
                    <p>Já tem uma conta? <a href="{% url 'account_login' %}">Entrar</a></p>
                    <p>Esqueceu sua senha? <a href="{% url 'account_reset_password' %}">Recuperar senha</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock content %}